<!doctype html>
<html lang="pt">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{ page.title }} | {{ site.title }}</title>
        <link
            rel="stylesheet"
            href="{{ '/assets/css/util.css' | relative_url }}"
        />
        <link
            rel="stylesheet"
            href="{{ '/assets/css/site.css' | relative_url }}"
        />
    </head>
    <body class="bg-page">
        <header class="site-header">
            <div class="wrap">
                <h1 class="brand">
                    <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
                </h1>
                <nav class="nav">
                    <a href="{{ '/parques-infantis/' | relative_url }}"
                        >Parques Infantis</a
                    >
                </nav>
            </div>
        </header>

        <main class="wrap">{{ content }}</main>

        <footer class="site-footer">
            <div class="wrap small muted">
                <p>
                    Fontes: CML, INE, Carta Social, OSM. | © {{ "now" | date:
                    "%Y" }}
                </p>
            </div>
        </footer>

        <script
            type="module"
            src="{{ '/assets/js/core.js' | relative_url }}"
        ></script>
    </body>
</html>
